@mixin background-with-text-contrast($color, $invert-selection: false) {
  background-color: $color;
  color: color-pick-contrast($color);

  @if $invert-selection {
    @include inverted-selection;
  }
}

@mixin brand-background($invert-selection: true) {
  @include background-with-text-contrast($brand, $invert-selection);
  background-color: var(--brand, $brand);
}

@mixin brand-text {
  @include normal-selection;
  color: $brand;
  color: var(--brand, $brand);
}

@mixin brand-border($position: null, $width: 1px) {
  @if $position == null {
    border: $width solid $brand;
    border: $width solid var(--brand, $brand);
  } @else {
    border-#{$position}: $width solid $brand;
    border-#{$position}: $width solid var(--brand, $brand);
  }
}

@mixin body-colors {
  background: $body-background;
  color: $body-font-color;
}

@mixin normal-selection {

  &::selection,
  *::selection {
    @include brand-background($invert-selection: false);
  }
}

@mixin inverted-selection {

  &::selection,
  *::selection {
    background-color: rgba(color-pick-contrast($brand), 0.99);
    color: $brand;
    color: var(--brand, $brand);
  }
}

@mixin brand-secondary-background($invert-selection: true) {
  @include background-with-text-contrast($brand-secondary, $invert-selection);
  background: var(--brand-secondary, $brand-secondary);
}

@mixin brand-secondary-color {
  color: $brand-secondary;
  color: var(--brand-secondary, $brand-secondary);
}

@mixin anchor-color {
  color: $anchor-color;
  color: var(--anchor-color, var(--brand, $anchor-color));
}

@mixin anchor-color-hover {
  color: $anchor-color-hover;
  color: var(--anchor-color-hover, $anchor-color-hover);
}

%brand-background {
  @include brand-background;
}

%brand-text {
  @include brand-text;
}

%body-colors {
  @include body-colors;
}
