// Override and add customized styles in this file.
//
// You can also create SCSS files in the app/assets/stylesheets/custom/
// folder and they will be loaded automatically.

.wrapper > header {
  border-bottom: 0 !important;
}

.auth-page .wrapper .auth-image {
  background: transparent;
  border-right: 2px solid $brand;
  @include breakpoint(small only) {
    border-right: none;
    border-bottom: 2px solid $brand;
  }
}

.top-bar {
  background-color: $white !important;
  .top-bar-title {
    flex: 1;
    @include breakpoint(small only) {
      text-align: right;
    }
    a img {
      max-width: 260px;
      min-width: 220px;
      width: 100%;
      height: auto;
    }
  }
  @include breakpoint(small only) {
    #responsive-menu {
      width: 100%;
    }
  }
  .top-bar-right {
    @include breakpoint(small only) {
      width: 100%;
    }
    li {
      color: $black;
      font-weight: 600;
      .button {
        color: $black !important;
        background-color: $molina-yellow;
      }
    }
  }
  .menu-button {
    color: $brand;
  }
}

.subnavigation {
  background: $molina-green;
  @include breakpoint(small only) {
    background-color: white;
    a.is-active {
      color: $brand !important;
    }
  }
}

.help-header {
  background: $brand;
  h1,
  a {
    color: $white;
  }
  img {
    filter: invert(100%) sepia(0%) saturate(7499%) hue-rotate(77deg)
      brightness(106%) contrast(150%);
  }
}

.footer {
  background-color: $molina-yellow;
  footer .title {
    border-bottom: none;
  }
  .subfooter {
    border-top: 1px solid $white;
  }
}

.proposal .supports {
  .progress {
    background: lighten($proposals, 20%) !important;
    border: 1px solid lighten($proposals, 5%) !important;

    .meter {
      background: $proposals;
    }
  }

  .button-support {
    background: $proposals;

    &:hover,
    &:active {
      background: $proposals !important;
      cursor: pointer;
    }
  }
}
